* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


body {
    background-color: #E0F7FA; 
    font-family: Arial, sans-serif; 
    color: #333; 
}

.mission-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mission-content {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
}

ol li{
    font-size: 18px;
    line-height: 1.6;

}

ol li::marker {
    color: #007bff; /* Number color */
}

@media screen and (max-width: 480px) {
    .mission-content {
        padding: 10px; 
    }

    .mission-content p {
        font-size: 14px; 
    }

    ol li {
        font-size: 14px; 
    }

  
}